<template name="Plantas">
   <div class="row">
   <h2>Planta</h2>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="nom_de_planta" type="text" class="validate">
          <label for="nom_de_planta">Nombre de la planta</label>
        </div>
        <div class="input-field col s12">
          <input id="num_de_planta" type="text" class="validate">
          <label for="num_de_planta">Numero de planta</label>
        </div>
        <div class="input-field col s12">
          <input id="nom_de_vivero" type="text" class="validate">
          <label for="nom_de_vivero">Nombre de vivero</label>
        </div>
        <div class="input-field col s12">
          <input id="region" type="text" class="validate">
          <label for="region">region a la que pertenece</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input id="horario" type="text" class="validate">
          <label for="horario">hora de compra</label>
        </div>
        <div class="input-field col s12">
          <input id="nom_del_cliente" type="text" class="validate">
          <label for="nom_de__cliente">Nombre del comprador</label>
        </div>
      </div>      
      <button type="submit" class="btn red">Enviar</button>
    </form>
  </div>
</template>