<template name="Vehiculo">
   <div class="row">
   <h2>Vehiculo</h2>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="marca" type="text" class="validate">
          <label for="marca">Marca</label>
        </div>
        <div class="input-field col s12">
          <input id="modelo" type="text" class="validate">
          <label for="modelo">Modelo</label>
        </div>
        <div class="input-field col s12">
          <input id="color" type="text" class="validate">
          <label for="color">Color</label>
        </div>
        <div class="input-field col s12">
          <input id="numero_puertas" type="text" class="validate">
          <label for="numero_puertas">Número de puertas</label>
        </div>
        <div class="input-field col s12">
          <input id="valor" type="text" class="validate">
          <label for="valor">Valor</label>
        </div>
      </div>      
      <button type="submit" class="btn blue">Send</button>
    </form>
  </div>
</template>