<template name="Figuras">
   <div class="row">
   <h2>Figuras Geométricas</h2>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="figura" type="text" class="validate">
          <label for="figura">Nombre de la Figura</label>
        </div>
        <div class="input-field col s12">
          <input id="color" type="text" class="validate">
          <label for="color">color de la figura</label>
        </div>
        <div class="input-field col s12">
          <input id="ancho" type="text" class="validate">
          <label for="ancho">Ancho de la figura</label>
        </div>
        <div class="input-field col s12">
          <input id="alto" type="text" class="validate">
          <label for="alto">Alto de la figura</label>
        </div>
        <div class="input-field col s12">
          <input id="largo" type="text" class="validate">
          <label for="largo">Largo de la figura</label>
        </div>
        <div class="input-field col s12">
          <input id="tamaño" type="text" class="validate">
          <label for="tamaño">Tamaño de la Figura</label>
        </div>
        <div class="input-field col s12">
          <input id="lados" type="text" class="validate">
          <label for="lados">Lados en caso de no ser circulo</label>
        </div>
      </div>      
      <button type="submit" class="btn blue">Enviar</button>
    </form>
  </div>
</template>