<template name="Frutas">
   <div class="row">
   <h2>FRUTAS</h2>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="nom_de_fruta" type="text" class="validate">
          <label for="nom_de_fruta">Nombre de la fruta</label>
        </div>
        <div class="input-field col s12">
          <input id="num_frutas" type="text" class="validate">
          <label for="num_frutas">Numero de frutas</label>
        </div>
        <div class="input-field col s12">
          <input id="color_fruta" type="text" class="validate">
          <label for="color_fruta">Color de fruta</label>
        </div>
        <div class="input-field col s12">
          <input id="peso_fruta" type="text" class="validate">
          <label for="peso_fruta">Peso de fruta</label>
        </div>
        <div class="input-field col s12">
          <input id="forma_fruta" type="text" class="validate">
          <label for="forma_fruta">Forma de la fruta</label>
        </div>
      </div>      
      <button type="submit" class="btn red">SEND</button>
    </form>
  </div>
</template>