<template name="Deportes">
   <div class="row">
   <h2>Deporte</h2>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="nom_de_deporte" type="text" class="validate">
          <label for="nom_de_deporte">Nombre del deporte</label>
        </div>
        <div class="input-field col s12">
          <input id="num_jugadores" type="text" class="validate">
          <label for="num_jugadores">Numero de jugadores</label>
        </div>
        <div class="input-field col s12">
          <input id="color_unifor" type="text" class="validate">
          <label for="color_unifor">Color de uniforme</label>
        </div>
        <div class="input-field col s12">
          <input id="color_unifor_2" type="text" class="validate">
          <label for="color_unifor_2">Color de uniforme del oponente</label>
        </div>
        <div class="input-field col s12">
          <input id="instrumento" type="text" class="validate">
          <label for="instrumento">Instrumento del deporte</label>
        </div>
        <div class="input-field col s12">
          <input id="horario" type="text" class="validate">
          <label for="horario">Horario</label>
        </div>
        <div class="input-field col s12">
          <input id="espacio_donde_ejecuta" type="text" class="validate">
          <label for="espacio_donde_ejecuta">Espacio donde se ejecuta</label>
        </div>
      </div>      
      <button type="submit" class="btn red">Enviar</button>
    </form>
  </div>
</template>